<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <title>GroupDocs.Conversion for Java Spring</title>
    <base href="/"/>

    <meta name="viewport" content="width=device-width, initial-scale=1"/>
</head>
<body>
<client-root></client-root>
<script th:src="@{'/angular/conversion/runtime-es2015.js'}" type="module"></script>
<script th:src="@{'/angular/conversion/polyfills-es2015.js'}" type="module"></script>
<script th:src="@{'/angular/conversion/runtime-es5.js'}" nomodule></script>
<script th:src="@{'/angular/conversion/polyfills-es5.js'}" nomodule></script>
<script th:src="@{'/angular/conversion/styles-es2015.js'}" type="module"></script>
<script th:src="@{'/angular/conversion/styles-es5.js'}" nomodule></script>
<script th:src="@{'/angular/conversion/vendor-es2015.js'}" type="module"></script>
<script th:src="@{'/angular/conversion/main-es2015.js'}" type="module"></script>
<script th:src="@{'/angular/conversion/vendor-es5.js'}" nomodule></script>
<script th:src="@{'/angular/conversion/main-es5.js'}" nomodule></script>
</body>
</html>
